stages:
  - tests

tests:
  image: "python:3.11.7-bullseye"
  stage: tests

  script:
    - apt-get update
    - apt-get -y install libgraphviz-dev graphviz git-lfs
    - python3 -m venv venv
    - source venv/bin/activate
    - git lfs install --skip-repo
    - pip install --no-cache-dir --upgrade wheel setuptools pip
    - pip install --no-cache-dir cython
    - pip install --no-cache-dir -r requirements.txt
    - PYTHONPATH=$PWD coverage run --source=. -m pytest
    - coverage report
    - coverage xml
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    paths:
      - output
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  only:
    - master
    - main
    - merge_requests
